{%- include default.html -%}

{% if page.use_math %}
  {% include mathjax_support.html %}


{% endif %}

<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="wrapper-{% if site.width == "normal" %}normal{% elsif site.width == "large" %}large{% endif %}">
        {% if page.tag %}
            <div class="post">
        {% else %}
            {% if showHeader != true %}
                <div class="page {{ page.title | downcase }}">
            {% else %}
                <div class="{{ page.title | downcase }}">
            {% endif %}
        {% endif %}

            {{ content }}
        </div>
  </body>
</html>
